
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="home">
    <img src="~/images/about.jpg" alt="Home Image">
</section>

<section id="services">
    <div id="slider">
        <div class="slider-container">
            <img src="~/images/aboutfoto1.jpg" alt="Resim 1">
            <img src="~/images/aboutfoto2.jpg" alt="Resim 2">
        </div>
    </div>

    <div class="aboutustext">
        <h2>About Us</h2>
        <h3>Lifespring Hospital:</h3>
        <p>
            Lifespring Hospital is one of the leading institutions in the healthcare sector of Istanbul. Our
            modern facility reflects our commitment to providing comprehensive and high-quality healthcare
            services to our patients.
        </p>
        <br>
        <h3>Service Areas:</h3>

        <p>
            Lifespring Hospital responds to a variety of healthcare needs, ranging from emergency interventions
            to surgical operations, by offering a broad range of services. Our intensive care units, equipped
            with state-of-the-art technology, provide the highest level of care to critically ill patients.
            Additionally, through our outpatient clinics, we offer a wide range of services, from routine health
            check-ups to specialized examinations.
        </p>
        <br>
        <h3>Doctors and Staff:</h3>

        <p>
            At Lifespring Hospital, our specialized doctors, experienced nurses, and support staff work together
            to provide patients with an individualized and attentive approach to healthcare. Based on a strong
            ethical values system, we have formed a team focused on the health of our patients.
        </p>
        <br>
        <h3>Community Services and Education:</h3>

        <p>
            As a hospital, Lifespring Hospital not only focuses on treatment but also aims to contribute to
            community health. We organize health awareness activities, seminars, and educational programs for
            our local communities to contribute to the development of public health.
        </p>
        <p>
            Lifespring Hospital is a healthcare institution known for its quality healthcare services,
            technological infrastructure, and emphasis on patient satisfaction. We invite you to meet our expert
            team and explore our modern facility.
        </p>
    </div>
</section>

