@{ ViewBag.Title = "Doctors1"; }





<div class="search-bardoc">
    <select id="department-filter" onchange="filterByDepartment()">
        <option value="all">All Chapters</option>
        <option value="Pediatrics">Pediatrics</option>
        <option value="Neurology">Neurology</option>
        <option value="Hematology">Hematology</option>
        <option value="Urology">Urology</option>
        <option value="Dermatology">Dermatology</option>
        <option value="Cardiology">Cardiology</option>


    </select>
</div>


<section id="doctor-grid" class="doctor-grid">

    <div class="doctor-card">
        <img src="~/images/1doctor.jpg" alt="Doktorun Resmi">
        <div class="doctor-info">
            <h3>
                Prof. Dr.Naci İbrahim Çelik<h3>
                    <p>Pediatrics</p>
        </div>
    </div>
    <div class="doctor-card">
        <img src="~/images/2doctor.jpg" alt="Doktorun Resmi">
        <div class="doctor-info">
            <h3>
                Prof. Dr. Melih Kasımoğlu<h3>
                    <p>Dermatology</p>
        </div>
    </div><div class="doctor-card">
        <img src="~/images/3doctor.jpg" alt="Doktorun Resmi">
        <div class="doctor-info">
            <h3>
                Op.Dr.Hakan Gündoğan<h3>
                    <p>Neurology</p>
        </div>
    </div>
    <div class="doctor-card">
        <img src="~/images/4doctor.jpg" alt="Doktorun Resmi">
        <div class="doctor-info">
            <h3>
                Prof. Dr.Güncel Öztürk<h3>
                    <p>Orthopedics</p>
        </div>
    </div>
    <div class="doctor-card">
        <img src="~/images/5doctor.jpg" alt="Doktorun Resmi">
        <div class="doctor-info">
            <h3>
                Dr. Arzu Keskin Dalkıran<h3>
                    <p>Neurology</p>
        </div>
    </div><div class="doctor-card">
        <img src="~/images/6doctor.jpg" alt="Doktorun Resmi">
        <div class="doctor-info">
            <h3>
                Prof.Dr.Mustafa ŞENER<h3>
                    <p>Hematology</p>
        </div>
    </div>
    <div class="doctor-card">
        <img src="~/images/7doctor.jpg" alt="Doktorun Resmi">
        <div class="doctor-info">
            <h3>
                Op.Dr.Neslihan ŞENOCAK<h3>
                    <p>Hematology</p>
        </div>
    </div>
    <div class="doctor-card">
        <img src="~/images/8doctor.jpg" alt="Doktorun Resmi">
        <div class="doctor-info">
            <h3>
                Prof. Dr. David Ruacan<h3>
                    <p>Hematology</p>
        </div>
    </div><div class="doctor-card">
        <img src="~/images/9doctor.jpg" alt="Doktorun Resmi">
        <div class="doctor-info">
            <h3>
                Prof. Dr. Alev Işık Kılıç<h3>
                    <p>Urology</p>
        </div>
    </div>
    <div class="doctor-card">
        <img src="~/images/10doctor.jpg" alt="Doktorun Resmi">
        <div class="doctor-info">
            <h3>
                Dr.Münevver Güllüoğlu<h3>
                    <p>Urology</p>
        </div>
    </div>
    <div class="doctor-card">
        <img src="~/images/11doctor.jpg" alt="Doktorun Resmi">
        <div class="doctor-info">
            <h3>
                Prof. Dr. Okan Baş<h3>
                    <p>Dermatology</p>
        </div>
    </div><div class="doctor-card">
        <img src="~/images/12doctor.jpg" alt="Doktorun Resmi">
        <div class="doctor-info">
            <h3>
                Dr. Melek Kabak<h3>
                    <br>  <p>Dermatology</p>
        </div>
    </div>
    <div class="doctor-card">
        <img src="~/images/13doctor.jpg" alt="Doktorun Resmi">
        <div class="doctor-info">
            <h3>
                Prof. Dr. Doğuş Kıran<h3>
                    <p>Urology</p>
        </div>
    </div>
    <div class="doctor-card">
        <img src="~/images/14doctor.jpg" alt="Doktorun Resmi">
        <div class="doctor-info">
            <h3>
                Prof. Dr. Hüseyin Dal<h3>
                    <p>Cardiology</p>
        </div>
    </div><div class="doctor-card">
        <img src="~/images/15doctor.jpg" alt="Doktorun Resmi">
        <div class="doctor-info">
            <h3>
                Prof. Dr.İbrahim Usta<h3>
                    <p>Cardiology</p>
        </div>
    </div>

    </div>


</section>