
@{ ViewBag.Title = "Gallery1"; }




<div class="gallery-container">

    <div class="gallery">
        <img src="~/images/1hospital.jpg" alt="Doktorun Resmi">
    </div>
    <div class="gallery">
        <img src="~/images/2hospital.jpg" alt="Doktorun Resmi">
    </div>
    <div class="gallery">
        <img src="~/images/3hospital.jpg" alt="Doktorun Resmi">
    </div>
    <div class="gallery">
        <img src="~/images/4hospital.jpg" alt="Doktorun Resmi">
    </div>
    <div class="gallery">
        <img src="~/images/5hospital.jpg" alt="Doktorun Resmi">
    </div>
    <div class="gallery">
        <img src="~/images/6hospital.jpg" alt="Doktorun Resmi">
    </div>
    <div class="gallery">
        <img src="~/images/7hospital.jpg" alt="Doktorun Resmi">
    </div>
    <div class="gallery">
        <img src="~/images/8hospital.jpg" alt="Doktorun Resmi">
    </div>
    <div class="gallery">
        <img src="~/images/9hospital.jpg" alt="Doktorun Resmi">
    </div>
    <div class="gallery">
        <img src="~/images/10hospital.jpg" alt="Doktorun Resmi">
    </div>
    <div class="gallery">
        <img src="~/images/11hospital.jpg" alt="Doktorun Resmi">
    </div>
    <div class="gallery">
        <img src="~/images/12hospital.jpg" alt="Doktorun Resmi">
    </div>

</div>

