@{ ViewBag.Title = "MedicalUnits1";
                Layout = "~/Views/Shared/_Layout.cshtml"; }


<div class="medicalbody">
    <div id="main-contentmedical">

        <div id="medical-units-heading">Medical Units</div>

        <ul id="medical-units-list">
            <li class="medical-unit">
                <h3>Cardiology Department</h3>
                <img src="~/images/cardiology.jpg" alt="Cardiology Department">
                <p>Experienced cardiologists providing high-quality care for heart health.</p>
            </li>

            <li class="medical-unit">
                <h3>Orthopedics Department</h3>
                <img src="~/images/orthopedics.jpg" alt="Orthopedics Department">
                <p>Specialized in orthopedic and traumatology services to enhance musculoskeletal health.</p>
            </li>

            <li class="medical-unit">
                <h3>Neurology Department</h3>
                <img src="~/images/neurology.jpg" alt="Neurology Department">
                <p>Experts in the diagnosis and treatment of disorders affecting the nervous system.</p>
            </li>

            <li class="medical-unit">
                <h3>Dermatology Department</h3>
                <img src="~/images/dermatology.jpg" alt="Dermatology Department">
                <p>Specializing in skin-related conditions and cosmetic dermatology services.</p>
            </li>

            <li class="medical-unit">
                <h3>Urology Department</h3>
                <img src="~/images/urology.jpg" alt="Urology Department">
                <p>
                    Specialized in urological services, including the diagnosis and treatment of conditions related
                    to the urinary tract.
                </p>
            </li>



            <li class="medical-unit">
                <h3>Hematology</h3>
                <img src="~/images/emotology.jpg" alt="Emotology">
                <p>Hematology is the branch of science that deals with blood diseases as well as diseases of blood-forming organs such as spleen and bone marrow.</p>
            </li>

            <li class="medical-unit">
                <h3>Pediatrics</h3>
                <img src="~/images/pediatri.jpg" alt="Child">
                <p>Child health and diseases, also known as pediatrics, deals with individuals from birth to adolescence.</p>
            </li>



        </ul>
    </div>

</div>

